// Specific CSS for your home-page

/*
#0B4F6C 11, 79, 108
#2274A5 34, 116, 165
#F28482 242, 132, 130
#9EC5AB 158, 197, 171
#F1E0C5 241, 224, 197
*/

h2, h3, a {
  // font-family: 'Barlow', sans-serif;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
}

// signature //

.signature {
  margin: 0 auto;
  max-width: 400px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    // position: absolute;
    z-index: 1;
    min-height: 216px;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
  }
}

.card {
  border: none;
  background: none;
}

// navbar //

.top-page {
  position: absolute;
  top: 20px;
}

.top-page .navbar-nav li .nav-link {
  // font-family: "PT-Sans-Bold";
  font-size: 16px;
  padding: 16px 24px;
  color: rgb(255,255,255);
}

.top-page .navbar-nav li.active a, .top-page .navbar-nav li:hover a, .top-page .navbar-nav li:visited a {
  color: rgb(11, 79, 108);
}

// banner //

.banner {
  padding: 0px 0px;
}

.banner .card-img-overlay {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)); 
}

.banner .banner-center {
  text-align: center;
  position: relative;
  top: 35%;
}

.banner h2 {
  font-size: 52px;
  color: rgb(255,255,255);
  max-width: 728px;
  margin: 0px auto;
}

.banner .resume {
  color: rgb(255,255,255);
  width: 200px;
  border-radius: 40px;
  border: 2px solid rgb(11, 79, 108);
  margin-top: 40px;
  padding: 12px 0px;
  display: inline-block;
}

// social buttons

.center {
  display: flex;
  justify-content: center;
  margin-top: 52px;
}

.social-buttons {
  text-align: center;
  font-size: 30px;
  .social {
    padding-left: 0px;
  }
  li {
    display: inline-block;
  }
  li a {
    color: rgba(256, 256, 256, 0.6);
    border-radius: 50%;
    list-style-type: none;
    width: 64px;
    height: 64px;
    padding: 10px 14px;
    border: 1px solid rgba(256, 256, 256, 0.6);
    cursor: pointer;
    margin-left: 10px;
    transition: ease .3s;
    &:hover {
      color: rgba(256, 256, 256, 1);
      border: 1px solid rgba(256, 256, 256, 1);
    }
  }
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}


.two-img-background .card-img-overlay {
  
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), black); 
}

// about me //

.middle-page {
  background-color: rgb(0, 0, 0);
  width: 100%;
}

.middle-page .about-me {
  margin-top: -145px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.about-me .row {
  max-width: 918px;
  margin: 0 auto;
}

.about-me .row .card {
  border-radius: 15px;
  max-width: 464px;
  height: auto;
}

.about-me img {
  max-width: 464px;
  height: auto;
  border-radius: 15px 0px 0px 15px;
}

.about-me #about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me .content {
  border-radius: 0px 15px 15px 0px;
  padding-left: 20px;
}

.about-me .content h4 {
    opacity: 0.5;
}

.about-me .content hr {
  // margin-top: 8px;
  // margin-bottom: 8px;
}


.about-me .content p {
  font-size: 14px;
}

.about-me .content a {
  text-align: center;
  margin-bottom: 20px;
}

.about-me .content-button {
  display: flex;
  justify-content: center;
}

.about-me .content-button a {
  color: white;
  background-color: rgb(11, 79, 108);
  border-radius: 40px;
  border: 1px solid rgb(11, 79, 108);
  padding: 8px 9px;
}

.about-me #about {
  border-radius: 0px 15px 15px 0px;
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 20px 25px;
}

@media (max-width: 991px) {
  .about-me .content {
      // padding: 20px 20px 20px 25px;
  }
  .about-me .content h3 {
    font-size: 24px;
  }
  .about-me .content h4 {
    font-size: 18px;
  }
  .about-me .content hr {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .about-me .content p {
    font-size: 12px;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
  .about-me .content a {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .middle-page .about-me {
    margin-top: -95px;
  }
  .about-me .content {
    align-items: center;
  }
  .about-me img {
    border-radius: 15px;
  }
  .about-me .content {
    border-radius: 15px;
  }
  .about-me .content p {
    text-align: center;
  }
  .about-me .content hr {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .about-me #about {
    border-radius: 15px;
  }
}

// portfolio //

.portfolio {
  padding: 100px 0;
  margin-top: 0; 
}
.portfolio h2 {
  color: white;
  margin-bottom: 20px; 
}
.portfolio .card {
  margin-bottom: 0;
  border-radius: 15px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s; 
}
.portfolio .card.active, .portfolio .card:hover {
  transform: none;
  box-shadow: none; 
}
.portfolio .bottom-text {
  bottom: 15px; 
}
.portfolio .bx {
  float: left;
  padding: 7px; 
}
.portfolio .bx-1 {
  width: 32.5%; 
}
.portfolio .bx-2 {
  width: 41%; 
}
.portfolio .bx-3 {
  width: 26.5%; 
}

.portfolio .bx-4 {
  width: 26.5%;
}
.portfolio .bx-middle {
  width: 100%; 
}
.portfolio .bx-5 {
  width: 39%; 
}
.portfolio .bx-6{
  width: 28.5%; 
} 
@media (max-width: 1679px) {
  .portfolio {
    // padding-bottom: 518px;
  }
}
@media (max-width: 991px) {
  .portfolio h5 {
    font-size: 16px !important; 
  }
  .portfolio {
    padding-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .portfolio h5 {
    font-size: 14px !important; 
  } 
}
@media (max-width: 576px) {
  .portfolio h5 {
    font-size: 16px !important; 
  }
  .portfolio .bx {
    width: auto !important;
    display: inline-block;
    float: none;
    margin: 3px auto; 
  }
  .portfolio .bx-middle {
    text-align: center !important; 
  }
  .portfolio .bx-middle .heart {
    float: left !important; 
  } 
}

// add-ons
    .projects .card .card-img {
      border-radius: 15px; 
    }
    .projects .card h5 {
      font-size: 20px;
      color: #fff;
      margin-bottom: 5px; 
    }
    .projects .card p {
      font-size: 14px;
      color: #e90e65; 
    }
    .projects .card.active, .projects .card:hover {
      transform: scale(1.05, 1.1);
      -webkit-transform: scale(1.05, 1.1);
      -ms-transform: scale(1.05, 1.1);
      -moz-transform: scale(1.05, 1.1);
      box-shadow: 0px 20px 32px 0px rgba(0, 0, 0, 0.25); 
    }
      .projects .card.active .card-img-overlay, .projects .card:hover .card-img-overlay {
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(11, 79, 108, .95));
        background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(11, 79, 108, .95));
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(11, 79, 108, .95));
        background: -ms-linear-gradient(rgba(0, 0, 0, 0.3), rgba(11, 79, 108, .95)); 
      }
      .projects .card.active p, .projects .card:hover p {
        color: rgb(11, 79, 108); 
      }
  .projects .card-img-overlay {
    border-radius: 15px;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
    background: -ms-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
  }
  .projects .music {
    max-width: 32px;
    height: auto;
    filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(1.2);
  }
  .projects .music:hover{
  }
    .projects .heart {
    max-width: 32px;
    height: auto; 
  }

.skills-tools {
  background-color: rgb(0,0,0);
  padding: 48px auto;
}

.skills-tools h2 {
  color: rgb(255, 255, 255);
}

.skills-tools h3{
  text-align: center;
  color: rgb(255, 255, 255);
}

.skills-tools .developer-left, .songwriter-right {
  max-width: 32.5%;
}

// developer //

.developer {
  display: flex;
  justify-content: center;
  background-color: rgb(0,0,0);
  padding: 24px 0;
}

.developer-skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.developer-skills li {
  display: flex;
  align-items: center;
  background-color: rgb(17, 15, 20);
  // border: 1px solid black;
  // border-radius: 24px;
  box-shadow: 3px ​3px 8px rgba(255,255,255,0.2);
  margin: 14px 0px;

}

.developer-skills li img {
  height: 64px;
  width: 64px;
  // border: 1px solid black;
  background-color: white;
  border-radius: 24px;
}

.developer-skills p {
  margin: 0px 6px;
  color: white;
}

// songwriter //

.songwriter {
  display: flex;
  justify-content: center;
  background-color: rgb(228, 228, 228);
  padding: 24px 0;
}

.songwriter-skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.songwriter-skills li {
  display: flex;
  align-items: center;
  background-color: black;
  // border: 1px solid black;
  border-radius: 24px;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.2);

}

.songwriter-skills li img {
  height: 64px;
  width: 64px;
  background-color: white;
  border-radius: 24px;
}

.songwriter-skills p {
  margin: 0px 6px;
  color: white;
}


// css animation //

.hidden {
  opacity: 0;
}

.fade-in-left {
  -webkit-animation: fade-in-left 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-left 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-top {
  -webkit-animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-right {
  -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
