<nav class="navbar navbar-expand-md fixed-top top-page">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#rw" tabindex="-1" aria-disabled="true">RW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#developer" tabindex="-1" aria-disabled="true">DEVELOPER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#music" tabindex="-1" aria-disabled="true">MUSIC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" tabindex="-1" aria-disabled="true">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Image Aspect Ratio 2.08 -->
<div class="container-fluid banner">
  <div class="card">
    <img src="<%= image_path('banner.jpeg') %>" alt="banner">
    <div class="card-img-overlay">
      <div class="banner-center">
        <h2 class="banner-text">Playing with Codes & Chords</h2>
        <a href="#">Resume</a>
      </div>
    </div>
  </div>
</div>
<!-- Image Aspect Ratio 1.77 -->
<div class="container-fluid two-img-background">
  <div class="row">
    <div class="col-sm-6 pr-0 pl-0">
      <div class="card"> <img class="card-img" src="<%= image_path('image_left.JPG') %>" alt="full stack developer">
        <div class="card-img-overlay"> </div>
      </div>
    </div>
    <div class="col-sm-6 pr-0 pl-0">
      <div class="card"> <img class="card-img" src="<%= image_path('image_right.JPG') %>" alt="musician">
        <div class="card-img-overlay"> </div>
      </div>
    </div>
  </div>
</div>
<div class="middle-page">
  <div class="container about-me">
    <div class="row">
      <div class="col-md-6  pr-0">
        <div class="card"> <img class="card-img w-100" src="<%= image_path('washington.JPEG') %>" alt="photoshoot in Washington">
          <div class="card-img-overlay"> </div>
        </div>
      </div>
      <div class="col-md-6 pl-0" id="about">
        <div class="content">
          <h3>Hi👋, this is Ryu!</h3>
          <h4>Full Stack Developer & Songwriter</h4>
          <hr>
          <p>Passionate and creative being; always eager to support team-mates and colleagues. Background in Entertainment Industry, several years as Account Manager/Operator in Digital Media Supply-Chain.
            Currently studying for AWS Certified Solutions Architect & Introductory to 'The Court of Master Sommelier'.</p>
          <a href="#" class="btn">CONTACT</a> </div>
      </div>
    </div>
  </div>
</div>